.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  transition: 0.5s;
  z-index: 10000;
}

.logo {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  display: flex;
  align-items: center;
}
