.home-page-content{
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: black;
    padding: 2rem;
}
.home-page-content::before{
    position: absolute;
    content: '';
    left: 0;
    top: -80px;
    width: 100%;
    height: 200px;
    background-color: black;
    filter: blur(60px);
}

section{
    position: relative;
    overflow: hidden;
    padding: 120px 100px 20px;
    width: 100%;
    transition: ease-in-out 1s;
    transform-origin: bottom;
    z-index:1100;
}

h1{
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-align: center;
    color: white;
}

.section-title{
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-title::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    height: 5px;
    width: 50%;
    background:linear-gradient(90deg,var(--primary),var(--primary),transparent);
    z-index:1000;
}


