.swiper{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.movieSwiper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 50vw;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(255,255,255,0.5);
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 200px;
}

.swiper-slide img{
    display: block;
    width: 100%;
    padding: 1rem;
    cursor:pointer;
}