.movie-search-list {
padding: 7rem 4rem;
}
.single-movie img {
  width: 10rem;

}

.movie-list img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.single-movie {
  flex-basis: calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.single-movie:hover {
  cursor: pointer;
}
