
.movieSwiper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    width: 55vw;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(255,255,255,0.8);
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 200px;
}

.swiper-slide img{
    display: block;
    width: 100%;
    padding: 1rem;
    cursor:pointer;
}