
.single-review {
  background-color: #45454b;
  border-radius: 10px;
  padding: 20px;

}

.review p {
  margin-left: 1rem;
}

.review .user-name,
.review-date {
  font-weight: 700;
  font-size: 18px;
}

.review-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}
