.navbar{
width: 100%;
}

.home{
  margin-left: 20px;
}

.movieList {
  display: flex;
  overflow-x: auto;
}

.movieList img{
  width:200px;
}

.singleMovie{
  margin:10px;
}

.singleMovie:hover{
  cursor: pointer;
}
.moviePoster {
  margin-right: 20px;
  width: 200px;
  height: 300px;
}

.movieDescription{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.movieDescription img{
  width: auto;
  height:auto;
  max-height: 600px;
  
}

.movieDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px 50px;
  padding: 20px;
  font-size: 20px;
}



::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
}

.navLink{
  margin: 20px;
}

#error{
  color:red;
}

.form-group{
  margin-bottom: 20px;
  margin-top: 20px;
}

.favorite-movie {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.favorite-movie img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.favorite-movie span {
  font-size: 1.1em;
  font-weight: 500;
}

.feedbackForm{
  margin: 40px;
}

.Name,.Email{
 width: 300px;
}

.favorite-movie span {
  display: flex;
  align-items: center;
}

.favorite-movie img {
  margin-right: 20px;
}


.favorite-movie span:last-child span {
  margin-right: 20px;
}

.addFavourite{
  width:400px;

}