.App{
  background-color:#1c1e1f;
  min-height: 100vh; 
  min-width: 100vw
}
.navbar{
width: 100%;
}
p,h2,h1,.form-group{
  color: white;
}
.form-group.Email, .form-group.Name{
  color:black;
}
.form-group ::placeholder{
  color:black;
}
.form-group{
  margin-bottom: 20px;
  margin-top: 20px;
}
.home{
  margin-left: 20px;
}


.movieList img{
  width:200px;
}

.movieList img:hover{
  transform: scale(1.1);
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}

.singleMovie {
  flex-basis: calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.singleMovie{
  margin:10px;
}

.singleMovie:hover{
  cursor: pointer;
}
.moviePoster {
  margin-right: 20px;
  width: 200px;
  height: 300px;
}

.movieDescription{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 20px;
  align-items: flex-start; 

}

.movieDescription img{
  width: 300px;
  height:400px;
  max-height: 600px;
  margin-top: 70px;

  
}

.movieDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px 50px;
  padding: 20px;
  font-size: 20px;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1e1f;;
}


.navLink{
  margin: 20px;
}

#error{
  color:red;
}



.favorite-movie {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.favorite-movie img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.favorite-movie span {
  font-size: 1.1em;
  font-weight: 500;
}
.feedbackForm{

  width: 1000px;
  height:700px;
  margin:auto;
  margin-top:30px;
 
}

.Name,.Email{
 width: 300px;
}

.favorite-movie span {
  display: flex;
  align-items: center;
}

.favorite-movie img {
  margin-right: 20px;
}


.favorite-movie span:last-child span {
  margin-right: 20px;
}

.addFavourite{
  width:400px;

}


.reviewDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
 
}

.review {
  background-color: #4d4b52;
  border-radius: 10px;
  padding: 20px;
 
}

.review-text {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.card {
  width: 200px;
  height: 300px;
  margin-top: 10px;
}
.card:hover{
  transform: scale(1.1);
}
.carousel{
  margin-bottom: 60px;
}