:root{
  --primary:#9fa0a5;
}
.App {
  background-color: #1c1e1f;
  min-height: 100vh;
  min-width: 100vw;
}

p,
h2,
h1,
h3,
.form-group {
  color: white;
}



.form-group {
  margin-bottom: 20px;

}

.form-group.Email,
.form-group.Name {
  color: black;
}

.form-group ::placeholder {
  color: black;
}


.movieList img {
  width: 200px;
}

.movieList img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 60px;
}

.singleMovie {
  flex-basis: calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.singleMovie {
  margin: 10px;
}

.singleMovie:hover {
  cursor: pointer;
}

.moviePoster {
  margin-right: 20px;
  width: 200px;
  height: 300px;
}

.movieDescription {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 20px;
  align-items: flex-start;

}

.movieDescription img {
  width: 300px;
  height: 400px;
  max-height: 600px;
  margin-top: 70px;


}

.movieDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px 50px;
  padding: 20px;
  font-size: 17px;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1e1f;
  ;
}


.navLink {
  margin: 20px;
}

#error {
  color: red;
}

.favorite-movie {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.favorite-movie img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.favorite-movie span {
  font-size: 1.1em;
  font-weight: 500;
}

.feedbackForm {
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 30px;


}

.Name,
.Email {
  width: 300px;
}

.favorite-movie span {
  display: flex;
  align-items: center;
}

.favorite-movie img {
  margin-right: 20px;
}


.favorite-movie span:last-child span {
  margin-right: 20px;
}

.addFavourite {
  width: 400px;

}

.addCart {
  width: 400px;

}


.reviewDisplay {
  display: block;
  margin-top: 50px;


}

.review {
  background-color: #45454b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.review p {
  margin-left: 1rem;
}

.review .user-name,
.review-date {
  font-weight: 700;
  font-size: 18px;
}

.review-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

.card {
  width: 180px;
  height: 250px;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.carousel {
  margin-bottom: 60px;
}

.login {
  min-height: 60vh;
  margin-top: 30px;
  margin-bottom:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3.5rem;
  height: 100%;
}


.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.5rem;
  margin-left: 200px;
}



.response {
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
  background-color: #a5a4a4;
  border-radius: 5px;
  margin-bottom: 10px;

}

.response .user-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(57, 53, 53);
}

.response,
.response-text,
.response-date {
  margin-bottom: 0.5rem;
  color: rgb(57, 53, 53);
  font-weight: 500;
}


.footer {

  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding:1rem;
}


